
h6 {
    color:whitesmoke
}

h4 {
    color:white
}
li {
    color:white
}

.center {
    text-align: center;
}

.gridTP {
    background-color: transparent;
}

.gridC1 {
    background-color: #f9c22b;
    border-radius: 10p;
}
.gridC2 {
    background-color:  #e83b3b;
}
.gridC3 {
    background-color: #4d9be6;
}
.gridC4 {
    background-color: #1ebc73;
}
.gridC5 {
    background-color: #a884f3;
}
.gridC6 {
    background-color: #fca790;
}

.test {
    color: green;
}

.fill {
    background-color: #4d9be6;
    position: relative;
    height: 130px;
    width: 100px;
    top: 5px;
    left: 5px;
    cursor: pointer;
    font-size: 15px;   
}

.empty {
    display: inline-block;
    height: 140px;
    width: 110px;
    margin: 15px;
    border: 3px whitesmoke;
    background-color: #1f2024;
}

.hold {
    border: solid grey 4px;
}

.hovered {
    background: rgb(51, 50, 53);
    border-style: dashed;
}

.invisible {
    display: none;
}



body {
    background-color: #1f2024;
    opacity: 1;
    background-image: radial-gradient(#585e64 0.65px, #1f2024 0.65px);
    background-size: 13px 13px;
}


